<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351428187564-aepsfsedtivdijps8g3ro7aj8aeonnvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351428187564-aepsfsedtivdijps8g3ro7aj8aeonnvq</string>
	<key>API_KEY</key>
	<string>AIzaSyAI9f2rGEyCQUdx4h2SMSGX9pk-Lb7-Z_c</string>
	<key>GCM_SENDER_ID</key>
	<string>351428187564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicApp</string>
	<key>PROJECT_ID</key>
	<string>selfcardmemory</string>
	<key>STORAGE_BUCKET</key>
	<string>selfcardmemory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351428187564:ios:98eb43544fcab030e65609</string>
	<key>DATABASE_URL</key>
	<string>https://selfcardmemory.firebaseio.com</string>
</dict>
</plist>